.nav {
  position: relative;
  margin: 0;
}

.hamburger {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url('../../../images/icons/question_mark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  margin-right: 16px;
  margin-left: auto;
}

.hamburger--opened {
  background-image: url('../../../images/icons/cross.svg');
}

.menu-items {
  display: block;
  max-width: 100%;
  font-size: 16px;
  padding: 0;
  text-align: right;
  margin: 16px 16px 16px 0;
}

.menu-item {
  list-style-type: none;
  padding: 0;
}
.menu-item a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px;
}
